<header class="site-header">
  <div class="container nav">
    <a class="logo" href="./index.html">Andrea Hernandez<span class="dot">.</span></a>

      <!-- Desktop row (inline) -->
      <nav class="nav-links">
        <a href="./index.html">Home</a>
        <a href="./portfolio.html">Portfolio</a>
        <a href="./shop.html">Shop</a>
        <a href="./cv.html">CV</a>
        <a href="./about.html">About</a>
        <a href="./contact.html">Contact</a>
        <a href="./cart.html">Cart</a>
      </nav>

  </div>

</header>
