<header class="site-header">
  <div class="container nav">
    <a class="logo" href="./index.html">Andrea Hernandez<span class="dot">.</span></a>

    <section class="p-menu1">
    <nav id="navbar" class="navigation" role="navigation">
      <input id="toggle1" type="checkbox" />
      <label class="hamburger1" for="toggle1">
        <div class="top"></div>
        <div class="meat"></div>
        <div class="bottom"></div>
      </label>
    
      <nav class="menu1">
        <a class="link1" href="">Our Models</a>
        <a class="link1" href="">Specialties</a>
        <a class="link1" href="">About</a>
        <a class="link1" href="">Blog</a>
        <a class="lin1 kbutton-nav" href="">Contact</a>
      </nav>
    </nav>
    </section>

    <!-- Desktop row (inline) -->
    <nav class="nav-links">
      <a href="./index.html">Home</a>
      <a href="./portfolio.html">Portfolio</a>
      <a href="./shop.html">Shop</a>
      <a href="./cv.html">CV</a>
      <a href="./about.html">About</a>
      <a href="./contact.html">Contact</a>
      <a href="./cart.html">Cart</a>
    </nav>

  </div>

</header>
